<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="20229DanielPadua.DeviantARTTouch" Version="1.0.0.1" Publisher="CN=8A73E24C-B672-4AB6-BAC3-4FD87E7F7E94" />
  <Properties>
    <DisplayName>DeviantART Touch</DisplayName>
    <PublisherDisplayName>Daniel Padua</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="DeviantART Touch" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="DeviantART Touch" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>